[submodule "Config/Validation/Dummynet"]
	path = Config/Validation/Dummynet
	url = https://github.com/luigirizzo/dummynet
[submodule "Site"]
	path = Site
	url = https://github.com/SaahilClaypool/panaderia_doc
[submodule "NetworkTools"]
	path = NetworkTools
	url = git@github.com:SaahilClaypool/NetworkTools.git
